.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .textfieldsWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .cargoWrapper {
      display: flex;
      gap: 16px;
    }
  }
}
